In [1]:
INPUT_DIR = './example_data/titanic/'

In [2]:
!ls -lah {INPUT_DIR}

total 184
drwxr-xr-x  5 aandrei  admin   160B Jan  5 12:00 .
drwxr-xr-x  3 aandrei  admin    96B Jan  5 12:01 ..
-rw-r--r--@ 1 aandrei  admin   3.2K Jan  5 12:00 gender_submission.csv
-rw-r--r--@ 1 aandrei  admin    28K Jan  5 12:00 test.csv
-rw-r--r--@ 1 aandrei  admin    60K Jan  5 12:00 train.csv

In [3]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from nmlu.qinspect.nb import df_peek
from nmlu.qinspect.common import df_types_and_stats
import nmlu.etl as etl
import nmlu.eda as eda

# sns.set()

## Peek

In [5]:
# load
df_raw = pd.read_csv(f'{INPUT_DIR}train.csv', low_memory=False)

In [6]:
# peek
df_peek(df_raw, 'df_raw')

--- DF (891, 12) df_raw:
	> TYPES & STATS:

,type,missing #,missing %,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Age,float64,177,19.87,714,NaN,NaN,NaN,29.6991,14.5265,0.42,20.125,28,38,80
Cabin,object,687,77.10,204,147,B96 B98,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Embarked,object,2,0.22,889,3,S,644,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fare,float64,0,0.00,891,NaN,NaN,NaN,32.2042,49.6934,0,7.9104,14.4542,31,512.329
Name,object,0,0.00,891,891,"Hegarty, Miss. Hanora ""Nora""",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Parch,int64,0,0.00,891,NaN,NaN,NaN,0.381594,0.806057,0,0,0,0,6
PassengerId,int64,0,0.00,891,NaN,NaN,NaN,446,257.354,1,223.5,446,668.5,891
Pclass,int64,0,0.00,891,NaN,NaN,NaN,2.30864,0.836071,1,2,3,3,3
Sex,object,0,0.00,891,2,male,577,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SibSp,int64,0,0.00,891,NaN,NaN,NaN,0.523008,1.10274,0,0,0,1,8
Survived,int64,0,0.00,891,NaN,NaN,NaN,0.383838,0.486592,0,0,0,1,1
Ticket,object,0,0.00,891,681,1601,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN

	> DATA:

,0,1,...,889,890
PassengerId,1,2,...,890,891
Survived,0,1,...,1,0
Pclass,3,1,...,1,3
Name,"Braund, Mr. Owen Harris","Cumings, Mrs. John Bradley (Florence Briggs Th...",...,"Behr, Mr. Karl Howell","Dooley, Mr. Patrick"
Sex,male,female,...,male,male
Age,22,38,...,26,32
SibSp,1,1,...,0,0
Parch,0,0,...,0,0
Ticket,A/5 21171,PC 17599,...,111369,370376
Fare,7.25,71.2833,...,30,7.75
Cabin,NaN,C85,...,C148,NaN
Embarked,S,C,...,C,Q

## ETL

In [7]:
df = df_raw.copy()

### convert_cats

In [8]:
etl.convert_cats(df, extra_cats={'Pclass'})
df.dtypes

PassengerId       int64
Survived          int64
Pclass         category
Name           category
Sex            category
Age             float64
SibSp             int64
Parch             int64
Ticket         category
Fare            float64
Cabin          category
Embarked       category
dtype: object

### fill_missing

In [9]:
na_dict = etl.fill_missing(df)
df_types_and_stats(df)

NameError: name 'name' is not defined

### numericalize

In [ ]:
etl.numericalize(df)
df.dtypes

### train_test_xy_split

In [ ]:
x_train, x_test, y_train, y_test = etl.train_test_xy_split(
    df, ['Survived'], train_fr=0.8)

In [ ]:
df[:5]

In [ ]:
x_train[:5]

In [ ]:
y_train[:5]

In [ ]:
df.sample(frac=1)[:5]

## EDA

In [ ]:
eda.pairs_dists_plot(df, 'Survived', except_cols={'PassengerId'});

In [ ]:
eda.heatmap_plot(df);

In [ ]:
eda.pairs_corr_plot(df);